* {
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}

.ant-btn {
  min-width: 200px;
  height: 40px;
  border-radius: 25px;
  background-color: #ebe6e2;
  color: #428fe3;
  font-size: 18px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}
